body{
    height: 834px;
    width:100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(49, 49, 49), rgb(0, 0, 0));
}
.col-md-4,.mb-3{
    color: aliceblue;
}
.horario{
    color: aliceblue;
}
.obs{
    color: aliceblue;
}
.btn.btn-lg.btn-primary{
    background-color: aliceblue;
    color: black;
    border-color: aliceblue;
    margin: 5px;
}